---
layout: default
---
<img src="/assets/photo/jongeun.jpg" width="480" height="320">

<h1> Welcome, </h1>
I'm Jongeun Park, research associate at Korea Development Institute (KDI). My research interests are development economics, impact evaluations, behavioral economics and social policy.

<br><br>
<h4> Education </h4>
2019, Master of Development Policy, KDI School of Public Policy and Management <br>
2017, B.A. in Economics, Konkuk University <br>
  
<br>
<h4> Work Experience </h4>
Apr 2019 - Present, Research Associate, Korea Development Institute <br>
Aug 2018 - Feb 2019, Volunteer, Merry Year International Malawi <br>
Mar 2017 - Dec 2017, Research Assistant, Korea Labor Institute <br>

<h4> Contact via email:</h4>
<a href="mailto:jepark251@gmail.com">jepark251@gmail.com</a>
