---
layout: default
---
<h1> Welcome </h1>
I'm Jongeun Park, research associate at KDI. My research interests are development economics, impact evaluations, household economics, social policy.

<h2> Education <h2>
2019, Master of Development Policy, KDI School of Public Policy and Management <br>
2017, B.A. in Economics, Konkuk University <br>
  
<br>
<h2> Work Experience <h2>
Apr 2019 - Present, Research Associate, Korea Development Institute <br>
Aug 2018 - Feb 2019, Volunteer, Merry Year International Malawi <br>
Mar 2017 - Dec 2017, Research Assistant, Korea Labor Institute <br>
